body {
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
}

li {
    list-style-type: none;
}
.nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
}