{% load static %}

<html>
    <head>
        <title>{% block title %}Project 1{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="title">
            <h1>Project 1</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}

            <!-- content -->

            {% endblock %}
        </div>
    </body>
</html>